<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>

<form action="https://formspree.io/f/mgedbjvk" method="POST">
	<div class="row uniform">
		<div class="6u 12u$(xsmall)">
			<input type="text" name="name" id="name" value="" placeholder="Name" required/>
		</div>
		<div class="6u$ 12u$(xsmall)">
			<input type="email" name="email" id="email" value="" placeholder="Email" required/>
		</div>
		<!-- Break -->
		<div class="12u$">
			<div class="select-wrapper">
				<select name="category" id="category" placeholder="Category">
					<option value="" disabled>- Category -</option>
					<option value="Partnership">Partnership</option>
					<option value="Contact">Contact</option>
					<option value="Website bug">Website bug</option>
					<option value="Other">Other</option>
				</select>
			</div>
		</div>
		<!-- Break -->
		<h4 id="priority">Priority Level</h4>
		<div class="4u 12u$(small)">
			<input type="radio" id="demo-priority-low" name="priority" checked value="Low">
			<label for="demo-priority-low">Low</label>
		</div>
		<div class="4u 12u$(small)">
			<input type="radio" id="demo-priority-normal" name="priority" value="Normal">
			<label for="demo-priority-normal">Normal</label>
		</div>
		<div class="4u$ 12u$(small)">
			<input type="radio" id="demo-priority-high" name="priority" value="High">
			<label for="demo-priority-high">High</label>
		</div>
		<!-- Break -->
		<div class="12u$">
			<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6" required></textarea>
		</div>
		<!-- Break -->
		<div class="12u$">
			<ul class="actions">
				<li><input type="submit" value="Send Message" class="special" /></li>
				<li><input type="reset" value="Reset" /></li>
			</ul>
		</div>
	</div>
</form>
		</section>
		<section class="split">
			<section>
				<div class="contact-method">
					<span class="icon alt fa-envelope"></span>
					<h3>Email</h3>
					<a href="mailto:{{ site.email }}">{{ site.email }}</a>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-institution"></span>
					<h3>Lab Website</h3>
					<a href="{{ site.lab }}">{{ site.lab }}</a>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-home"></span>
					<h3>Address</h3>
					<span>
					{% if site.street_address %}
					    {{ site.street_address }}<br />
					{% endif %}
					{% if site.city %}
					    {{ site.city }},
					{% endif %}
					{% if site.state %}
					    {{ site.state }} 
					{% endif %}
					{% if site.zip_code %}
					    {{ site.zip_code }}<br />
					{% endif %}
					{% if site.country %}
					    {{ site.country }}
					{% endif %}
					</span>
				</div>
			</section>
		</section>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{% for key_value in site.socials %}
					{% if key_value[1] %}
						<li>
							<a href="{{ key_value[1] }}" class="icon alt fa-{{ key_value[0] | downcase }}" target="_blank" rel="noopener noreferrer" aria-label="{{ key_value[0] }}">
								<span class="label">{{ key_value[0] }}</span>
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
			<ul class="copyright">
				<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
				<li>Page: <a>Hayato Takai</a></li>

			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "" | absolute_url }}{{  "/assets/js/jquery.min.js"  }}"></script>
	<script src="{{ "" | absolute_url }}{{  "/assets/js/jquery.scrolly.min.js"  }}"></script>
	<script src="{{ "" | absolute_url }}{{  "/assets/js/jquery.scrollex.min.js"  }}"></script>
	<script src="{{ "" | absolute_url }}{{  "/assets/js/skel.min.js"  }}"></script>
	<script src="{{ "" | absolute_url }}{{  "/assets/js/util.js"  }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "" | absolute_url }}{{  "/assets/js/main.js"  }}"></script>
