<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "" | absolute_url }}{{ "/assets/css/main.css"}}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ "" | absolute_url }}{{ "/apple-touch-icon.png"}}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ "" | absolute_url }}{{ "/favicon-32x32.png"}}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "" | absolute_url }}{{ "/favicon-16x16.png"}}">
	<link rel="manifest" href="{{ "" | absolute_url }}{{ "/site.webmanifest"}}">
	<link rel="mask-icon" href="{{ "" | absolute_url }}{{ "/safari-pinned-tab.svg"}}" color="#00a300">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#ffffff">
</head>